<!-- <div class="row">
        <div class="col-4 pb-3 border-right">
            <div class="col-12">
                <div class="text-right font-weight-bold">
                    {{job.dates.from}} to <br>
                    {{job.dates.to}}
                </div>
            </div>
            <div class="col-12 text-right mt-2" *ngIf="job.img">
                <img [src]="job.img" width="50%">
            </div>
        </div>
        <div class="col pb-3">
            <h5>{{job.name}} <br>
               <small><small class="text-muted">{{job.company}}, {{job.location}}</small></small> 
            </h5>
            <span>{{job.blurb}}</span>
            <ul class="mb-0">
                <li *ngFor="let point of job.desc">{{ point }}</li>
            </ul>
            <small>
            <div class='row ml-4'> 
                <div *ngFor='let tech of job.tech' class="m-1 border rounded p-1">
                    {{ tech }}
                </div>
            </div>
             </small>
        </div>
    </div>
 -->

<div class="project-parent rounded-lg" style="overflow: hidden">
  <div
    class="p-0 project"
    [style]="
      'background: linear-gradient(
  rgba(30, 37, 57, 0.9),
  rgba(0, 0, 0, 0.5)
  ),  url(../../../../assets/exp/' +
        experiences[idx].id +
        '.png) center no-repeat ; background-size: contain; 
  ' | sanitizeHtml
    "
  >
    <img
      src="../../../../assets/exp/{{ experiences[idx].id }}.png"
      alt=""
      width="100%"
      style="visibility: hidden; z-index: -1"
    />

    <div class="" style="position: absolute; top: 0">
      <div class="container mt-3">
        <div class="row">
          <div class="col sub-emph" style="letter-spacing: 2px">
            {{ experiences[idx].dates.from }} - {{ experiences[idx].dates.to }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4 class="emph story-title">
              {{ experiences[idx].name }} <br />
              <small
                ><small>
                  {{ experiences[idx].company }},
                  {{ experiences[idx].location }}
                </small>
              </small>
            </h4>
            <ul>
              <li *ngFor="let item of experiences[idx].desc" class="story-body">
                {{ item }}
              </li>
            </ul>
            <!-- <ul>
        <li *ngFor="let pt of experiences[idx].desc">{{ pt }}</li>
      </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
