
a {
    color: inherit;
    font-weight: bold;
}

.project {
    transition: all 0.5s;
}

.project-parent:hover .project,
.project-parent:focus .project {
  transform: scale(1.05);

}

.js {
    background: url(../../../assets/web.gif) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}