<div class='text-center mb-2'>
    <h5 class='mb-1'>
        E-Commerce Website
    </h5>
    <h6 class='mb-0'>Sell your products online</h6>
    <small class="text-muted">C represents complexity on a scale of 1-10, Prices include tax</small>  
    <small>
        <div class='col text-center'>
            <div id="course" class="mb-1 p-1">
                <div role="tab">
                    <div class="mb-0 d-flex">
                        <a data-toggle="collapse" href="#packages" aria-expanded="false" class="collapsed">
                            Click To See Packages
                        </a>
                    </div>
                </div>
                <div id='packages' class="collapse p-x" role="tabpanel">
                    <h6 class='mb-1'>
                        Packages
                    </h6>
                    <div class='col mt-2'>
                        <div class="row pb-2 align-items-center bg-dark text-light p-1">
                            <div class='col'>
                                <h6>Package</h6>
                            </div>
                            <div class='col'>
                                <h6>Basic</h6>
                            </div>
                            <div class='col'>
                                <h6>Standard</h6>
                            </div>
                            <div class='col'>
                                <h6>Premium</h6>
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center ">
                            <div class='col'>
                                Pages<br> <small>(in addition to Gallery, Privacy Policy and Terms of Service, Checkout & Cart page)</small>
                            </div>
                            <div class='col'>
                                Up to 3
                            </div>
                            <div class='col'>
                                Up to 5
                            </div>
                            <div class='col'>
                                Up to 10
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center  bg-light">
                            <div class='col'>
                                Additional Pages <br>
                            </div>
                            <div class='col'>
                                +[$2 + ($3 x C)] /page
                            </div>
                            <div class='col'>
                                +[$2 + ($3 x C)] /page
                            </div>
                            <div class='col'>
                                +[$2 + ($3 x C)] /page
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center">
                            <div class='col'>
                                Product Types <br> 
                                <small>i.e Posters and Pencils count for 2 Types</small>
                            </div>
                            <div class='col'>
                                Up to 1 
                            </div>
                            <div class='col'>
                            Up to 5
                            </div>
                            <div class='col'>
                                Up to 10
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center bg-light">
                            <div class='col'>
                                Products <br> 
                                <small>i.e Poster style 1 and Poster style 2 count for 2 products</small>
                            </div>
                            <div class='col'>
                                Up to 20 Products / Type
                            </div>
                            <div class='col'>
                                Up to  50 Products / Type
                            </div>
                            <div class='col'>
                                Up to 200 Products / Type
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center">
                            <div class='col'>
                                Product Reviews <br> 
                            </div>
                            <div class='col'>
                                $30
                            </div>
                            <div class='col'>
                                $15/Type
                            </div>
                            <div class='col'>
                                $10/Type
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center bg-light">
                            <div class='col'>
                                Artistic Services <br>
                                <small><a href="https://ovvisuals.com/">OVVisuals</a> Logos, Stickers, etc</small>
                            </div>
                            <div class='col'>
                                30% off
                            </div>
                            <div class='col'>
                                40% off
                            </div>
                            <div class='col'>
                                50% off
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center">
                            <div class='col'>
                                Wishlist
                            </div>
                            <div class='col'>
                                No, +$15
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center bg-light">
                            <div class='col'>
                                Animations <br>
                                <small>Text flowing in, etc</small>
                            </div>
                            <div class='col'>
                                No, +$10
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center">
                            <div class='col'>
                                Gallery
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center bg-light">
                            <div class='col'>
                            User Login
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center ">
                            <div class='col'>
                                Live Chat Feature <br>
                                <small>Tawk.to integration</small>
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center bg-light">
                            <div class='col'>
                                Newsletter Emails <br>
                                <small>Mailchimp integration</small>
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center">
                            <div class='col'>
                                Responsive and Mobile Friendly <br>
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center bg-light">
                            <div class='col'>
                                Content Upload<br>
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center">
                            <div class='col'>
                                Report an Issue Page
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center bg-light">
                            <div class='col'>
                                Checkout
                            </div>
                            <div class='col'>
                                Paypal, Debit & Card Cards
                            </div>
                            <div class='col'>
                                Paypal, Debit & Card Cards
                            </div>
                            <div class='col'>
                                Paypal, Debit & Card Cards
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center">
                            <div class='col'>
                                Revisions
                            </div>
                            <div class='col'>
                                5
                            </div>
                            <div class='col'>
                                10
                            </div>
                            <div class='col'>
                                Unlimited
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center border-top">
                            <div class='col'>
                                Base Price
                            </div>
                            <div class='col'>
                                $299 + ($19.71/yr for hosting)
                            </div>
                            <div class='col'>
                                $499 + ($19.71/yr for hosting)
                            </div>
                            <div class='col'>
                                $699 + ($19.71/yr for hosting)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col text-center'>
            <div id="course" class="mb-1 p-1">
                <div role="tab">
                    <div class="mb-0 d-flex">
                        <a data-toggle="collapse" href="#addon" aria-expanded="false" class="collapsed">
                            Click To See Add-Ons
                        </a>
                    </div>
                </div>
                <div id='addon' class="collapse p-x" role="tabpanel">
                    <div class="col mt-2">
                        <h6 class='mb-1'>
                            Add-ons
                        </h6>
                        <div class='col mt-2'>
                            <div class="row pb-2 align-items-center bg-dark text-light p-1">
                                <div class='col'>
                                    <h6>Integration</h6>
                                </div>
                                <div class='col'>
                                    <h6>Description</h6>
                                </div>
                                <div class='col'>
                                    <h6>Price</h6>
                                </div>
                            </div>
                            <div class="row pb-2 align-items-center ">
                                <div class='col'>
                                    Instagram DM
                                </div>
                                <div class='col'>
                                    Send Instagram Direct Messages right from your website when a client make a purchase, or any other time you want. <b>This is an exclusive feature that only I offer</b> (that I know of)
                                </div>
                                <div class='col'>
                                    $50
                                </div>
                            </div>
                            <div class="row pb-2 align-items-center bg-light">
                                <div class='col'>
                                    Transactional Emails
                                </div>
                                <div class='col'>
                                    Similar to the Instagram DM integration, but emails! 
                                </div>
                                <div class='col'>
                                    $25
                                </div>
                            </div>
                            <div class="row pb-2 align-items-center">
                                <div class='col'>
                                    Custom mailbox domain <br>
                                </div>
                                <div class='col'>
                                    Get a personalized email address. Each mailbox can forward to any of your current emails. Cheapest option is for forwarding only, more expensive options offer a mailbox and varying storage sizes
                                </div>
                                <div class='col'>
                                    $6.57/yr forward only<br>
                                    $26.30/yr per 10GB mailbox<br>
                                    $38.12/yr  per 1TB mailbox<br>
                                </div>
                            </div>
                            <div class="row pb-2 align-items-center bg-light">
                                <div class='col'>
                                    Manage Client Orders
                                </div>
                                <div class='col'>
                                    View all your orders, change status of orders, add tracking numbers to paypal receipts. Allow users to see their orders on the website.
                                </div>
                                <div class='col'>
                                    $99+ <br><small>(Depending on complexity)</small>
                                </div>
                            </div>
                            <div class="row pb-2 align-items-center ">
                                <div class='col'>
                                    Custom Order Form
                                </div>
                                <div class='col'>
                                    Allow clients to request custom products through a form on your website
                                </div>
                                <div class='col'>
                                    $30
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col text-left'>
            <div id="course" class="mb-1 p-1">
                <div role="tab">
                    <div class="mb-0 d-flex">
                        <a data-toggle="collapse" href="#ex" aria-expanded="false" class="collapsed">
                            Click To See Pricing Example
                        </a>
                    </div>
                </div>
                <div id='ex' class="collapse p-x" role="tabpanel">
                    Example Website Price: <a href="https://ovvisuals.com/">https://ovvisuals.com/</a> <br>
                    Basic Package: $299 + $19.71/yr <br>
                    Pages: 
                    <ul class="mb-0">
                        <li>Home Page (count towards 3 pages)</li>
                        <li>Privacy Policy (included in package)</li>
                        <li>Terms & Conditions (included in package)</li>
                        <li>Posters Page (included with product type)</li>
                        <li>Gallery (included in package)</li>
                        <li>User Account Page (included in Manage Client Order add-on)</li>
                        <li>Admin Account Page (included in Manage Client Order add-on)</li>
                        <li>Wishlist Feature & Page +$15</li>
                        <li>User Login Page (included in package)</li>
                        <li>Upload to Gallery Page (included in package)</li>
                        <li>Seperate Subscribe to newsletter page (count towards 3 pages)</li>
                        <li>Shipping Information Page (count towards 3 pages)</li>
                        <li>Report an Issue Page (included in package)</li>
                    </ul>
                    Product Types (count towards 1 type)
                    <ul class="mb-0">
                        <li>Posters (7 items) (count towards 20 products per type)</li>
                    </ul>
                    Animations: +$10 <br>
                    Checkout (included in package) <br>
                    Live Chat Feature (included in package) <br>
                    Newsletter Emails (included in package)<br>
                    Instagram DM: +$50 <br>
                    Transactional Emails: +$25 <br>
                    Custom mailbox (1 mailbox): +$26.29/yr <br>
                    Custom order form: +$30<br>
                    Manage Client Orders: $99 + $75 Complexity charge 
                    <ul>
                        <li>Open Orders (Non dispatched orders)</li>
                        <li>Intermediate orders (Dispatched orders)</li>
                        <li>Complete orders</li>
                        <li>Open Custom Orders (Personal requests that need to be quoted)</li>
                        <li>Intermediate Custom Orders (Quoted Personal Orders and in progress)</li>
                        <li>Complete Custom Orders</li>
                    </ul>
                    <hr>
                    <b>Total:</b> $603 (+ $46/yr)
                </div>
            </div>
        </div>
    </small>
</div>
<div class='text-center mb-2'>
    <h5 class='mb-1'>
        Portfolio Website
    </h5>  
    <h6 class='mb-0'>Promote your business or display your skills</h6>
    <small class="text-muted">C represents complexity on a scale of 1-10, Prices include tax</small>
    <small>
        <div class='col text-center'>
            <div id="course" class="mb-1 p-1">
                <div role="tab">
                    <div class="mb-0 d-flex">
                        <a data-toggle="collapse" href="#brochurePackage" aria-expanded="false" class="collapsed">
                            Click To See Packages
                        </a>
                    </div>
                </div>
                <div id='brochurePackage' class="collapse p-x" role="tabpanel">
                    <h6 class='mb-1'>
                        Packages
                    </h6>
                    <div class='col mt-2'>
                        <div class="row pb-2 align-items-center bg-dark text-light p-1">
                            <div class='col-3'>
                                <h6>Package</h6>
                            </div>
                            <div class='col'>
                                <h6>Standard</h6>
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center p-1">
                            <div class='col-3'>
                                Pages
                            </div>
                            <div class='col'>
                                Up to 1
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center p-1 bg-light">
                            <div class='col-3'>
                                Additional Pages
                            </div>
                            <div class='col'>
                                +[$5 + ($3 x C)] /page
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center p-1">
                            <div class='col-3'>
                                Artistic Services <br>
                                <small><a href="https://ovvisuals.com/">OVVisuals</a> Logos, Stickers, etc</small>
                            </div>
                            <div class='col'>
                                35% Off
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center p-1 bg-light">
                            <div class='col-3'>
                                Animations
                            </div>
                            <div class='col'>
                                +[$10 + ($3 x C)]
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center p-1">
                            <div class='col-3'>
                                Gallery
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center p-1 bg-light">
                            <div class='col-3'>
                                Responsive and Mobile Friendly
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center p-1">
                            <div class='col-3'>
                                Content Upload
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center p-1 bg-light">
                            <div class='col-3'>
                                Report an Issue Page
                            </div>
                            <div class='col'>
                                Yes
                            </div>
                        </div>
                        <div class="row pb-2 align-items-center border-top">
                            <div class='col-3'>
                                Base Price
                            </div>
                            <div class='col'>
                                $99 + ($19.71/yr for hosting)
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class='col text-left'>
            <div id="course" class="mb-1 p-1">
                <div role="tab">
                    <div class="mb-0 d-flex">
                        <a data-toggle="collapse" href="#brochureEx" aria-expanded="false" class="collapsed">
                            Click To See Pricing Example
                        </a>
                    </div>
                </div>
                <div id='brochureEx' class="collapse p-x" role="tabpanel">
                    Example Website Price: <a href="https://thayahanartsschool.ca/">https://thayahanartsschool.ca/</a> <br>
                    Standard Package: $99 + $19.71/yr <br>
                    Pages: 
                    <ul class="mb-0">
                        <li>Home Page (count towards 1 page)</li>
                        <li>About Page +[$5 + ($3 x 1)] = +$8</li>
                        <li>Gallery (included in package)</li>
                        <li>Courses Page +[$5 + ($3 x 1)] = +$8</li>
                        <li>Gallery (included in package)</li>
                        <li>Contests Page +[$5 + ($3 x 1)] = +$8</li>
                        <li>Contact Page +[$5 + ($3 x 1)] = +$8</li>
                    </ul>
                    Animations: +[$10 + ($3 x 3)] = $19
                    <hr>
                    <b>Total:</b> $150 (+ $19.71/yr)
                </div>
            </div>
        </div>
    </small>
</div>

<!-- <div class='text-center mb-2'>
    <h5 class='mb-1'>
        Non-Profit Business Website
    </h5>  
    <h6 class='mb-0'>For charitable organizations</h6>
    <small>
        <div class='col text-left'>
            Free! Please contact me so we can discuss further and see if it is something I am able to do
        </div>
    </small>
</div> -->