<div class="project-parent rounded-lg" style="overflow: hidden">
  <div
    class="p-0 project"
    [style]="
      'background: linear-gradient(
rgba(30, 37, 57, 0.9),
rgba(0, 0, 0, 0.5)
),  url(../../../../assets/projects/' +
        projects[idx].id +
        '_small.png) center no-repeat ; background-size: contain; 
'
        | sanitizeHtml
    "
  >
    <img
      src="../../../../assets/projects/{{ projects[idx].id }}_small.png"
      alt=""
      width="100%"
      style="visibility: hidden; z-index: -1"
    />

    <div class="" style="position: absolute; top: 0">
      <div class="container mt-3">
        <div class="row">
          <div class="col sub-emph" style="letter-spacing: 2px">
            {{ projects[idx].year }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4 class="emph story-title">
              {{ projects[idx].name }} &mdash; {{ projects[idx].type }}
            </h4>

            <h6>
              <a [href]="projects[idx].link" target="_blank">
                Click to view project <i class="fas fa-arrow-right"></i
              ></a>
            </h6>
            <!-- <ul>
      <li *ngFor="let pt of projects[idx].desc">{{ pt }}</li>
    </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
