[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: medium;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg);
    transition: all linear 0.25s;
}

[data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg);
}

a {
    color: inherit;
    font-weight: bold;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.attachCtrls {
    cursor: pointer;
    transition: background-color 0.5s;

}

.attachCtrls:hover {
    background-color: black;
    cursor: pointer;
}