<div class="col">
    <div class="row">
        <div class="col-4 text-right pb-3 border-right">
            Programming
        </div>
        <div class="col pb-3">
            Python, Node.js/JavaScript, Java, TypeScript, C, Shell Scripting, Haskell
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right pb-3 border-right">
            Artificial Intelligence Technologies
        </div>
        <div class="col pb-3">
            <b>Machine Learning</b> (Tensorflow, Keras, AWS SageMaker), <b>Computer Vision</b> (OpenCV, Darkflow, Mediapipe)
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right pb-3 border-right">
            Developing Experience
        </div>
        <div class="col pb-3">
            <b>Back-End</b> (Node.js, Flask), <b>Front-End</b> (Angular, React.js), <b>IoT</b> (Raspberry Pi Edge Computing), <b>QA</b> (JUnit, Mocha/Chai, Python unittest, Jenkins), <b>UI/UX Design</b> (Angular, AWS Sumerian)
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right pb-3 border-right">
            Developer Tools
        </div>
        <div class="col pb-3">
            <b>Git</b> (GitFlow, Actions), <b>AWS</b> (SageMaker, Rekognition, Comprehend, Lex, Elastic Beanstalk, SQS, SNS, EC2, CodePipeline, S3, Sumerian, CloudWatch, RDS), <b>Google Firebase</b> (Hosting, Realtime Database, Authentication, Functions)
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right pb-3 border-right">
            Database
        </div>
        <div class="col pb-3">
            MySQL, NoSQL, SQLite
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-right pb-3 border-right">
            Others
        </div>
        <div class="col pb-3">
            HTML, SCSS, CSS, JQuery, Agile Methodologies (Jira), Research & Development
        </div>
    </div>
</div>
