<div class="row mt-3">
    <div class="col-12 text-center">
        <img class="rounded-circle ml-auto" width="100%" style="max-width:500px" src="../../../assets/me.jpg">
    </div>
    <div class='col-12 text-center mt-3'>
        <h1>Akathian Santhakumar</h1>
        <h3>4th-year Computer Science and Neuroscience Student</h3>
        <h5>University of Toronto Scarborough Campus</h5>
    </div>
    <div class="col-12 text-center mt-3 d-flex justify-content-center ">
        <div class='row'>
            <div class="mx-2">
                <a href="https://github.com/Akathian">
                    <i class="fa fa-github" style="font-size:2em"></i>
                </a>
            </div>
            <div class="mx-2">
                <a href="https://www.linkedin.com/in/akathian/">
                    <i class="fa fa-linkedin" style="font-size:2em"></i>
                </a>
            </div>
            <div class="mx-2">
                <a href='../../../assets/SanthakumarAkathian_Default_Cv.pdf'>
                    <i class="fa fa-user" style="font-size:2em"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 text-center mt-3 d-flex justify-content-around" style="font-size: 14px;">
            <div>
                <a href="#webservice">Website Services</a>
            </div>
            <div>
                <a href="#skills">Skills</a>
            </div>
            <div>
                <a href="#projects">Projects</a>
            </div>
            <div>
                <a href="#experience">Experience</a>
            </div>
            <div>
                <a href="#education">Education</a>
            </div>
    </div>
    <div class="col-12 text-center">
        <hr class="mt-0">
        <p>
            Ambitious and self-directed 4th-year student <b>double majoring in Computer Science and Neuroscience</b>. Strive in highly collaborative work environments and enjoy solving challenging problems. Comfortable using Linux/Ubuntu and MacOS as a daily driver. Possess excellent work ethics, allowing for efficient work flow and exceptional attention to detail. Hope to one day make breakthroughs in the artificial intelligence field, applying advanced knowledge in neuroscience and computer science topics.
        </p>
    </div>
    <div id='webservice' class="col-12 mt-3">
        <h3>Website Services</h3>
        <app-web-service></app-web-service>
    </div>
    <div id='skills' class="col-12 mt-3">
        <h3>Skills</h3>
        <app-skills></app-skills>
    </div>
    <div id='projects' class="col-12 mt-3">
        <h3>Projects</h3>
        <app-projects></app-projects>
    </div>
    <div id='experience' class="col-12 mt-3">
        <h3>Experience</h3>
        <app-experience></app-experience>
    </div>
    <div id='education' class="col-12 mt-3">
        <h3>Education</h3>
        <app-education></app-education>
    </div>
</div>
