/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: norwester;
    src: url('./assets/fonts/norwester.otf')
}

@font-face {
    font-family: montserrat;
    src: url('./assets/fonts/Montserrat-Regular.ttf')
}

@font-face {
    font-family: kollektif;
    src: url('./assets/fonts/Kollektif.ttf')
}


@font-face {
    font-family: norwester;
    src: url('./assets/fonts/norwester.otf')
}

@font-face {
    font-family: manifesto;
    src: url('./assets/fonts/MANIFESTO.ttf')
}

html {
    scroll-behavior: smooth;
}

* {
    // outline: 1px solid red;
}

.emph {
    font-family: norwester, serif;
    letter-spacing: 2px;
}

.sub-emph {
    font-family: kollektif;
    letter-spacing: 2px;

}

#site {
    font-family: montserrat;
    background-color: rgb(30, 37, 57);
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.yellow {
    color: #ffd700;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb {
    background: white;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}

.js-bg {
    background: url(./assets/web.gif) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.js-layer {
    background-color: rgba(0, 0, 0, 0.8);
}